.vscode/
**/obj/
**/bin/
**/node_modules/
**/.terraform/

**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log

build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake


pokemon-defensive-profile
server
.env

obj/
bin/
calculator